@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap');
*
{padding:0;
margin:0;
box-sizing:border-box;}

html{
    font-size: 14px;
    font-family:'libre caslon',sans-serif;
}

a{
    text-decoration:none;
}

#mainsection{
  background-image: url("images/bgimage.png");
  background-repeat: repeat-y;
  padding:20px 10%;
  background-position-x: center;
}

.logo img {
  width:150px;
}
.container{
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
header {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
#horizontal li {
  display: inline-block;
  justify-content: space-between;
  font-family:'libre caslon',sans-serif;
  font: 12px;    
}
#hero img {
  width:300px;
  border-radius: 200px;
}

#hero h1{

  width:fit-content;
  font-size: 60px;
  position: relative;
  color:black;
  text-align: center;
  

}

/* #hero{
    background-image: 
    background-size: 25%;
    background-position:relative;
    z-index: 1; }* */

 /* #hero:after{
    content: '';
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width: 100%;
    background-color:#F2EEEB;} 

#hero h1{
    display: block;
    width:fit-content;
    font-size: 60px;
    position: relative;
    color:rebeccapurple;
   font-family: 'Libre Caslon Text', sans-serif;

}

#hero h1 span{
    position: absolute;
    top:0;
    left:0;
    height: 50%;
    width: 50%;
    background-color: #F2BDC7;
    animation: text_reveal .5s ease forwards;

}

#hero .cta {
    display: inline;
    padding: 10px 30px ;
    color: #DDB7AB;
    background-color: transparent;
    border:2px solid  #DDB7AB;
    font-size: 2rem;
    text-transform: lowercase;
    letter-spacing: .1rem;
    margin-top:30px;
    transition: .3s ease background-color;
}

#hero .cta:hover{
    color:white;
    background-color: #DDB7AB;

}



.header {
    display:flex;
    justify-content:space-between;
  
   
}

.footer{
  font-family:'libre caslon',sans-serif;
  font:18px;
}*/

/* @keyframes text_reveal_box{
    50%

}
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 18px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color:#94B79B;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }